.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.ipynb_checkpoints/

# Данные (очень важно, чтобы не заливать тяжелые CSV и БД)
pgdata/
*.db
*.sqlite


# Системные файлы
.DS_Store
.idea/
.vscode/